/*
 * This is the stylesheet for the AcronymMaker web application.
 *
 * Copyright (c) 2021 - Romain Wallon.
 */

/* Main Content */

.main-content {
    max-width: 90rem; !important
}

.main-content h2 {
    margin-top: 10mm;
    margin-bottom: 10mm;
}

p {
    text-align: justify; !important
}

/* Interactive Components */

form {
    margin-top: 10mm;
    margin-bottom: 10mm;
}

div.custom-switch {
    margin: 10px;
}

.btn-primary {
    margin-bottom: 10mm;
}

/* Tokens */

div#tokens {
    margin-top: 10mm;
}

#tokens > div {
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Footer Style */

footer {
    text-align: center;
}

footer span {
    font-size: 75%;
}
